name: Type Check

on:
  push:
  pull_request:

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.7.17
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt-get update
        sudo apt-get install -y python3.7 python3.7-distutils
        curl -sS https://bootstrap.pypa.io/pip/3.7/get-pip.py | sudo python3.7
        sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.7 1
        python --version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyright

    - name: Run Pyright
      run: pyright
