name: Type Check

on:
  push:
  pull_request:

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.7.17
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt-get update
        sudo apt-get install -y python3.7 python3.7-distutils python3.7-venv
        python3.7 --version # TODO: REMOVE!
        python3 --version # TODO: REMOVE!

    - name: Install pyright
      run: |
        python3 -m pip install --upgrade pip
        pip install pyright

    - name: Run Pyright
      run: pyright
